{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static './atlas/css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
        <title>{% block title %}蒋乐哥哥的官方分享{% endblock %}</title>

    </head>

    <body>
        <div class="container">
            <header>
{% block nav %}
            <div class="row">
                <div class="masthead">
                    <h3 class="text-muted">蒋乐哥哥的官方分享 </h3>
                    <nav>
                    <ul class="nav nav-tabs">
                        <li >
                            <a href="#">MySQL教程</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#">MySQL性能测试报告</a>
                        </li>
                        <li>
                            <a href="#">mysqltools官方文档</a>
                        </li>
                        <li>
                            <a href="#">Python教程</a>
                        </li>
                        <li>
                            <a href="#">Django教程</a>
                        </li>
                        <li>
                            <a href="#">Python爬虫教程</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#">经济数据</a>
                        </li>
                        <li>
                            <a href="">我秦始皇打钱</a>
                        </li>
                        <li>
                            <a href="#">关于我</a>
                        </li>
                    </ul>
                    </nav>
                </div>
                </div>
{% endblock %}           
            </header>

{% block article %}
    
{% endblock %}
        </div>



        <script src="{% static './atlas/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static './atlas/css/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static './atlas/js/echarts.min.js' %}"></script>
{% block scripts %}

{% endblock %}
    </body>

</html>